// Main Site Colours:
$main-background: #DADFE1;
$main-header: #536170;
$main-content: #6c7a89;

//Header and Footer colours:
$nav-background-color: #263238;
$nav-hover-color: #f5d158;
$nav-font-color: #42BF94;

// Changelog
$changelog-body: #9cc9bb;
$changelog-title-body: #f3e6bc;

// Links
$link-hover-color: #ef5c6e;
$discord-color: #3757C5;
$league-color: #EBCB66;

//Hero Colours:
//#374851
$hero-background-color: #303f47;
$hero-2: #374851;
$about-color: #19c1a5;
$notification-color: rgb(73, 119, 111);

//Table Colours:
$table-hover-color: #4D575C;

